<div class="service-card">
  <div class="service-card-image" style="background-image: url({{serviceImgPath + service.image}})">

  </div>
  <div class="service-card-header">
    {{service.header}}
  </div>
  <div class="service-card-content">
    <div class="service-card-content-text">
      {{service.text}}
    </div>
    <div class="service-card-actions">
      <div class="price">
        От {{service.price}}₽
      </div>
      <button class="button" (click)="openCallBackForm()">Подробнее</button>
    </div>
  </div>

</div>
