@import "../../../../assets/styles/_variables";
header.header{
  padding: 40px 0;
  .container{
    .header-content{
      position: relative;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-menu{
        /*margin-left: 100px;*/
        nav ul{
          margin: 0;
          padding: 0;
          display: flex;
          li {
            margin-right: 30px;
            list-style: none;
            border-bottom: 1px solid transparent;
            &:hover {
              border-bottom: $article-text-color;
              opacity: 0.7;
            }

            a {
              font-size: 16px;
              color: $article-text-color;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
      .header-phone{
        color: $heading-text-color;
        font-size: 16px;
        text-decoration: none;
        &:hover{
          opacity: 0.7;
        }
      }
      .header-actions{
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        .action-text{
          color: $article-text-color;
          font-size: 16px;
          margin-left: 9px;

        }
        &:hover{
          opacity: 0.7;
        }
      }
      .header-logout{
        display: none;
        position: absolute;
        z-index: 10;
        top: 45px;
        right: 0;
        border-radius: 4px;
        box-sizing: border-box;
        background: $heading-text-color;
        min-width: 152px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        cursor: pointer;
        &.active{
          display: block;
        }
        .logout-button{
          font-size: 16px;
        }
      }
    }
  }
}
