<header class="header">
  <div class="container">

    <div class="header-content">
      <a href="#" class="logo">
        <img src="/assets/images/logo.svg" alt="logo">
      </a>
      <div class="header-menu">
        <nav>
          <ul>
            <li>
              <a routerLink="/" fragment="our-services">Услуги</a>
            </li>
            <li>
              <a routerLink="/" fragment="about">О нас</a>
            </li>
            <li>
              <a routerLink="/articles">Статьи</a>
            </li>
            <li>
              <a routerLink="/" fragment="feedbacks">Отзывы</a>
            </li>
            <li>
              <a routerLink="/" fragment="contacts">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <a href="tel: +74993431334" class="header-phone">
        +7 (499) 343-13-34
      </a>
      <a class="header-actions" (click)="openLogoutDialog()">
        <a>
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24.000000" height="24.000000" fill="none" customFrame="#000000">
            <rect id="User" width="24.000000" height="24.000000" x="0.000000" y="0.000000" />
            <path id="Vector" d="M14.9999 22L8.99986 22C7.77986 22 6.73986 21.88 5.85986 21.62C6.07986 19.02 8.74986 16.97 11.9999 16.97C15.2499 16.97 17.9199 19.02 18.1399 21.62C17.2599 21.88 16.2199 22 14.9999 22Z" fill-rule="nonzero" stroke="rgb(7,23,57)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.29999995" />
            <path id="Vector" d="M9 2C4 2 2 4 2 9L2 15C2 18.78 3.14 20.85 5.86 21.62C6.08 19.02 8.75 16.97 12 16.97C15.25 16.97 17.92 19.02 18.14 21.62C20.86 20.85 22 18.78 22 15L22 9C22 4 20 2 15 2L9 2ZM8.42 10.58C8.42 8.60002 10.02 7 12 7C13.98 7 15.58 8.60002 15.58 10.58C15.58 12.56 13.98 14.17 12 14.17C10.02 14.17 8.42 12.56 8.42 10.58Z" fill-rule="nonzero" stroke="rgb(7,23,57)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.29999995" />
            <path id="Vector" d="M11.9999 14.17C10.0199 14.17 8.41992 12.56 8.41992 10.58C8.41992 8.60002 10.0199 7 11.9999 7C13.9799 7 15.5799 8.60002 15.5799 10.58C15.5799 12.56 13.9799 14.17 11.9999 14.17Z" fill-rule="nonzero" stroke="rgb(7,23,57)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.29999995" />
          </svg>
        </a>
        <div class="action-text" *ngIf="!(isLogged$ | async)">
          Войти
        </div>
        <div class="action-text" *ngIf="isLogged$ | async">
          Привет, {{ userName }}!
        </div>
      </a>
      <div class="header-logout" [class.active]="logoutOpen" (click)="performLogout()">
        <div class="logout-button">Выйти</div>
      </div>
    </div>
  </div>
</header>

